@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Шрифты*/
.form__link, .form__agreement {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

.header__direction-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.nav__item {
  font-weight: 400;
  font-size: 13px;
}

.offer__text, .btn, .header__button-call {
  font-weight: 400;
  font-size: 14px;
}

.form__phone::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
}

.form__send, .form__phone::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.offer__benefit, .header__phone-num {
  font-weight: 700;
  font-size: 16px;
}

.offer__text_large, .form__text {
  font-weight: 700;
  font-size: 20px;
}

.banner__subtitle {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
}

.banner__title {
  font-weight: 700;
  font-size: 43px;
}

.offer__title {
  font-weight: 400;
  font-size: 49px;
}

.banner__title_large {
  font-weight: 700;
  font-size: 50px;
}

/*--------------------*/
:root {
  --swiper-navigation-size: 44px !important;
}
@media (max-width: 767px) {
  :root {
    --swiper-navigation-size: 5.74vw !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.header__top {
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header__top {
    height: auto;
  }
}
.header__top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .header__logo {
    margin-right: 26px;
  }
}
@media (max-width: 575px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .header__logo img {
    width: 288px;
  }
}
.header__direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.header__direction-marker {
  margin-right: 8px;
}
.header__direction-text {
  white-space: nowrap;
}
.header__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
@media (max-width: 991px) {
  .header__phone {
    flex-grow: 1;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .header__phone {
    flex-grow: 0;
    justify-content: space-between;
  }
}
.header__phone-img {
  margin-right: 5px;
}
.header__phone-num {
  white-space: nowrap;
}
.header__button-call {
  height: 33px;
  width: 175px;
  color: #002d96;
  background-color: white;
  border: 1px solid #002d96;
  margin-left: 20px;
}
@media (max-width: 400px) {
  .header__button-call {
    width: 120px;
    font-size: 12px;
  }
}
.header__bottom {
  height: 44px;
  background-color: #2f3d47;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header__bottom {
    height: auto;
  }
}
.header__bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header__separator {
  position: absolute;
  top: 43%;
  width: 100%;
  height: 3px;
  background-color: #3d474e;
  border: 0.5px solid #2e373d;
  visibility: hidden;
}
@media (max-width: 914px) {
  .header__separator {
    visibility: visible;
  }
}
.header__cars-name {
  width: 332px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.header__menu {
  width: 536px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  gap: 5px;
}
.header__menu a:first-child {
  white-space: nowrap;
}
@media (max-width: 400px) {
  .header__menu a:first-child {
    white-space: wrap;
    width: 83px;
  }
}

.nav__item {
  color: white;
}
@media (max-width: 575px) {
  .nav__item {
    font-size: 10px;
    white-space: nowrap;
  }
}

.banner__background {
  background-image: url("../img/banner.png");
  min-height: 734px;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner__text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
}
.banner__title {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 5.5vw;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .banner__title_large {
    font-size: 6.5vw;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .banner__subtitle {
    font-size: 4.5vw;
    white-space: nowrap;
  }
}
.banner__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.banner__installment {
  margin-right: 32px;
  margin-bottom: 17px;
}
@media (max-width: 400px) {
  .banner__installment img {
    width: calc(100vw - 32px);
    margin-right: 0;
  }
}

.form__text {
  color: white;
  margin-bottom: 16px;
  text-shadow: 2px 2px 5px #061318;
}
.form__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.form__phone {
  width: 330px;
  height: 55px;
  background-color: white;
  border: 1px solid black;
  margin-right: 16px;
  margin-bottom: 16px;
}
@media (max-width: 400px) {
  .form__phone {
    width: calc(100vw - 32px);
  }
}
.form__phone::-moz-placeholder {
  color: #8d8d8d;
  padding-left: 20px;
}
.form__phone::placeholder {
  color: #8d8d8d;
  padding-left: 20px;
}
.form__wrap {
  display: flex;
  flex-direction: column;
}
.form__send {
  width: 330px;
  height: 55px;
  background-color: #002d96;
  border: none;
  color: white;
  padding-left: 25px;
  text-align: left;
  margin-bottom: 10px;
  background-image: url("../img/arrow-white.png");
  background-position: right 30px center;
  background-repeat: no-repeat;
}
@media (max-width: 400px) {
  .form__send {
    width: calc(100vw - 32px);
  }
}
.form__agreement {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  color: white;
}
.form__link {
  color: white;
  border-bottom: 1px solid white;
}
.form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__custom-checkbox + label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid white;
  margin-right: 7px;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150% 150%;
}
.form__custom-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNC4wMCAyNC4wMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMC4wMDAyNDAwMDAwMDAwMDAwMDAwMyI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2U9IiNDQ0NDQ0MiIHN0cm9rZS13aWR0aD0iMC4zODQiLz4KDTxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNy4wMzAzIDguNzgwMzlMOC45OTk5MyAxNi44MTA3TDUuNDY5NiAxMy4yODA0TDYuNTMwMjYgMTIuMjE5N0w4Ljk5OTkzIDE0LjY4OTRMMTUuOTY5NiA3LjcxOTczTDE3LjAzMDMgOC43ODAzOVoiIGZpbGw9IiNmZmZmZmYiLz4gPC9nPgoNPC9zdmc+");
}

.btn {
  width: 461px;
  height: 51px;
  padding-left: 29px;
  text-align: left;
}
@media (max-width: 575px) {
  .btn {
    width: 90vw;
  }
}
.btn_blue {
  background-image: url("../img/arrow-white.png");
  background-position: right 30px center;
  background-repeat: no-repeat;
  border: 1px solid #002d96;
  background-color: #002d96;
}
.btn_white {
  border: 1px solid black;
  background-color: white;
  background-image: url("../img/arrow-black.png");
  background-position: right 30px center;
  background-repeat: no-repeat;
}
.btn_sky {
  margin-bottom: 14px;
  margin-top: 14px;
  background-image: url("../img/arrow-white.png");
  background-position: right 30px center;
  background-repeat: no-repeat;
  border: 1px solid #ccd5ea;
  background-color: #ccd5ea;
}

.offer {
  margin-top: 118px;
  background-image: url("../img/slider_background.png");
  background-position: right 50vw top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
  height: 508px;
}
@media (max-width: 1199px) {
  .offer {
    background-position: right 30vw top;
  }
}
@media (max-width: 767px) {
  .offer {
    height: 66.23vw;
    background-size: cover;
  }
}
@media (max-width: 575px) {
  .offer {
    margin-top: 50px;
  }
}
.offer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex-wrap: wrap;
}
.offer__cars-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 342px;
  top: 55px;
  margin-left: 170px;
}
@media (max-width: 1199px) {
  .offer__cars-info {
    margin-left: 0;
    right: 31%;
  }
}
@media (max-width: 991px) {
  .offer__cars-info {
    width: 310px;
  }
}
@media (max-width: 767px) {
  .offer__cars-info {
    width: 40.42vw;
    top: 7.17vw;
  }
}
@media (max-width: 767px) {
  .offer__cars-info img:first-child {
    width: 21.64vw;
  }
}
@media (max-width: 767px) {
  .offer__cars-info img:last-child {
    width: 16.56vw;
  }
}
.offer__info {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199px) {
  .offer__info {
    margin-top: 60px;
  }
}
.offer__title {
  margin-bottom: 35px;
}
@media (max-width: 575px) {
  .offer__title {
    font-size: 30px;
  }
}
.offer__benefit {
  color: white;
  background-image: url("../img/black_rectangle.png");
  width: 277px;
  height: 38px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.offer__benefit_large {
  font-size: 24px;
}
.offer__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 461px;
}
.offer__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 36px;
}
.offer__text {
  color: black;
  white-space: nowrap;
  margin-left: 15px;
}
.offer__text_large {
  color: #002d96;
}
.offer__btn-wrap {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 110px;
}

.outer-swiper {
  width: 650px;
  height: 508px;
  /* Элемент точки */
  /* Активная точка */
}
@media (max-width: 767px) {
  .outer-swiper {
    width: 84.75vw;
    height: 66.23vw;
  }
}
.outer-swiper__slide {
  display: flex;
  flex-direction: row;
}
.outer-swiper__main-img {
  padding-top: 114px;
}
@media (max-width: 767px) {
  .outer-swiper__main-img {
    padding-top: 14.86vw;
  }
}
.outer-swiper__main-img img {
  width: 508px;
}
@media (max-width: 767px) {
  .outer-swiper__main-img img {
    width: 66.23vw;
  }
}
.outer-swiper .swiper-button-prev {
  left: 59.7px;
  top: 28px;
}
@media (max-width: 767px) {
  .outer-swiper .swiper-button-prev {
    left: 7.78vw;
    top: 3.65vw;
  }
}
.outer-swiper .swiper-button-next {
  left: 59.7px;
  top: auto;
  bottom: 28px;
}
@media (max-width: 767px) {
  .outer-swiper .swiper-button-next {
    left: 7.78vw;
    bottom: 3.65vw;
  }
}
.outer-swiper .swiper-button-prev:after {
  color: #fff;
  opacity: 30%;
  position: absolute;
  transform: rotate(90deg) translate(50%, 0);
}
.outer-swiper .swiper-button-next:after {
  color: #fff;
  opacity: 30%;
  position: absolute;
  transform: rotate(90deg) translate(50%, 0);
  right: auto;
  left: auto;
  top: auto;
}
.outer-swiper .swiper-pagination {
  width: 180px !important;
  left: 185px !important;
  bottom: 27px !important;
}
@media (max-width: 767px) {
  .outer-swiper .swiper-pagination {
    width: 23.47vw !important;
    left: 24.12vw !important;
    bottom: 3.52vw !important;
  }
}
.outer-swiper .swiper-pagination-bullet {
  font-size: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ff0000;
  margin: 9px !important;
  position: relative;
  opacity: 1;
}
@media (max-width: 767px) {
  .outer-swiper .swiper-pagination-bullet {
    width: 2.35vw;
    height: 2.35vw;
    margin: 1.17vw !important;
  }
}
.outer-swiper .swiper-pagination-bullet-active::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid white;
  position: absolute;
  left: -3px;
  top: -3px;
}
@media (max-width: 767px) {
  .outer-swiper .swiper-pagination-bullet-active::before {
    width: 3.13vw;
    height: 3.13vw;
    left: -0.39vw;
    top: -0.39vw;
  }
}
.outer-swiper .swiper-pagination-bullet:nth-child(2) {
  background-color: #c0c0c0;
}
.outer-swiper .swiper-pagination-bullet:nth-child(3) {
  background-color: #ffffff;
}
.outer-swiper .swiper-pagination-bullet:nth-child(4) {
  background-color: #696969;
}
.outer-swiper .swiper-pagination-bullet:nth-child(5) {
  background-color: #49b6d0;
}

.inner-swiper {
  height: 386px;
  width: 142px;
}
@media (max-width: 767px) {
  .inner-swiper {
    height: 50.33vw;
    width: 18.51vw;
  }
}
.inner-swiper__slide img {
  border-radius: 4px;
}
@media (max-width: 767px) {
  .inner-swiper__slide img {
    width: 18.51vw;
  }
}
.inner-swiper .swiper-button-prev {
  left: 50%;
  top: 0;
}

.swiper-slide.outer-swiper__slide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}
.overlay-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.popup-close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.popup-close:hover {
  cursor: pointer;
  transform: rotate(90deg);
}
.popup-click {
  position: relative;
  width: 378px;
  background: #ffffff;
  max-width: 95vw;
  margin: 0 auto;
  border: 1px solid #e6e9f0;
  box-shadow: 5px 5px 50px rgba(121, 121, 121, 0.1);
  padding: 40px 24px 24px 40px;
}

.overlay .form__phone {
  width: 300px;
  border: 1px solid black;
}
@media (max-width: 400px) {
  .overlay .form__phone {
    width: 70vw;
  }
}
.overlay .form__send {
  width: 300px;
}
@media (max-width: 400px) {
  .overlay .form__send {
    width: 70vw;
    background-image: none;
  }
}
.overlay .form__agreement {
  color: rgb(0, 0, 0);
}
.overlay .form__link {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  white-space: pre-wrap;
}
.overlay .form__custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 7px;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150% 150%;
}
.overlay .form__custom-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTcuMDMwMyA4Ljc4MDM5TDguOTk5OTMgMTYuODEwN0w1LjQ2OTYgMTMuMjgwNEw2LjUzMDI2IDEyLjIxOTdMOC45OTk5MyAxNC42ODk0TDE1Ljk2OTYgNy43MTk3M0wxNy4wMzAzIDguNzgwMzlaIiBmaWxsPSIjMDgwMzQxIi8+DQo8L3N2Zz4=");
}

.wrapper {
  width: 1148px;
  margin: auto;
}
@media (max-width: 1415px) {
  .wrapper {
    width: 1148px;
    margin: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    width: 980px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .wrapper {
    width: 95%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 320px) {
  .wrapper {
    width: 90%;
    margin: auto;
  }
}