@import "_nullstyle";
@import "_fonts";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

:root {
    --swiper-navigation-size: 44px !important;
    @media (max-width: 767px) {
        --swiper-navigation-size: 5.74vw !important;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    &__top {
        height: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            height: auto;
        }
    }
    &__top-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo {
        margin: 10px 0;

        @media (max-width: 991px) {
            margin-right: 26px;
        }
        @media (max-width: 575px) {
            margin-right: 0;
        }
    }
    &__logo img {
        @media (max-width: 400px) {
            width: 288px;
        }
    }

    &__direction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    &__direction-marker {
        margin-right: 8px;
    }

    &__direction-text {
        @extend %Open_Sans_fz12_400;
        white-space: nowrap;
    }

    &__phone {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 10px 0;
        @media (max-width: 991px) {
            flex-grow: 1;
            justify-content: center;
        }
        @media (max-width: 767px) {
            flex-grow: 0;
            justify-content: space-between;
        }
    }

    &__phone-img {
        margin-right: 5px;
    }

    &__phone-num {
        @extend %Open_Sans_fz16_700;
        white-space: nowrap;
    }

    &__button-call {
        @extend %Open_Sans_fz14_400;
        height: 33px;
        width: 175px;
        color: #002d96;
        background-color: white;
        border: 1px solid #002d96;
        margin-left: 20px;
        @media (max-width: 400px) {
            width: 120px;
            font-size: 12px;
        }
    }

    &__bottom {
        height: 44px;
        background-color: #2f3d47;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            height: auto;
        }
    }
    &__bottom-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }
    &__separator {
        position: absolute;
        top: 43%;
        width: 100%;
        height: 3px;
        background-color: #3d474e;
        border: 0.5px solid #2e373d;
        visibility: hidden;
        @media (max-width: 914px) {
            visibility: visible;
        }
    }

    &__cars-name {
        width: 332px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
    }

    &__menu {
        width: 536px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        gap: 5px;
    }

    &__menu a:first-child {
        white-space: nowrap;
        @media (max-width: 400px) {
            white-space: wrap;
            width: 83px;
        }
    }
}

.nav {
    &__item {
        color: white;
        @extend %Open_Sans_fz13_400;
        @media (max-width: 575px) {
            font-size: 10px;
            white-space: nowrap;
        }
    }
}
.banner {
    &__background {
        background-image: url("../img/banner.png");
        min-height: 734px;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
    }

    &__title {
        @extend %Open_Sans_fz43_700;
        margin-bottom: 24px;
        @media (max-width: 767px) {
            font-size: 5.5vw;
            white-space: nowrap;
        }
    }
    &__title_large {
        @extend %Open_Sans_fz50_700;
        @media (max-width: 767px) {
            font-size: 6.5vw;
            white-space: nowrap;
        }
    }

    &__subtitle {
        @extend %Open_Sans_fz35_400;
        @media (max-width: 767px) {
            font-size: 4.5vw;
            white-space: nowrap;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__installment {
        margin-right: 32px;
        margin-bottom: 17px;
        img {
            @media (max-width: 400px) {
                width: calc(100vw - 32px);
                margin-right: 0;
            }
        }
    }
}
.form {
    &__text {
        color: white;
        @extend %Open_Sans_fz20_700;
        margin-bottom: 16px;
    }
    &__block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    &__phone {
        width: 330px;
        height: 55px;
        background-color: white;
        border: 1px solid black;
        margin-right: 16px;
        margin-bottom: 16px;
        @media (max-width: 400px) {
            width: calc(100vw - 32px);
        }
    }

    &__phone::placeholder {
        @extend %Open_Sans_fz16_400;
        color: #8d8d8d;
        padding-left: 20px;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__send {
        width: 330px;
        height: 55px;
        background-color: #002d96;
        border: none;
        color: white;
        @extend %Open_Sans_fz16_400;
        padding-left: 25px;
        text-align: left;
        margin-bottom: 10px;
        background-image: url("../img/arrow-white.png");
        background-position: right 30px center;
        background-repeat: no-repeat;
        @media (max-width: 400px) {
            width: calc(100vw - 32px);
        }
    }
    &__agreement {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        @extend %Open_Sans_fz11_400;
        color: white;
    }
    &__link {
        @extend %Open_Sans_fz11_400;
        color: white;
        border-bottom: 1px solid white;
    }

    &__custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__custom-checkbox + label {
        user-select: none;
    }
    &__custom-checkbox + label::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid white;
        margin-right: 7px;
        background-color: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 150% 150%;
    }

    &__custom-checkbox:checked + label::before {
        background-image: url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNC4wMCAyNC4wMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMC4wMDAyNDAwMDAwMDAwMDAwMDAwMyI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2U9IiNDQ0NDQ0MiIHN0cm9rZS13aWR0aD0iMC4zODQiLz4KDTxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNy4wMzAzIDguNzgwMzlMOC45OTk5MyAxNi44MTA3TDUuNDY5NiAxMy4yODA0TDYuNTMwMjYgMTIuMjE5N0w4Ljk5OTkzIDE0LjY4OTRMMTUuOTY5NiA3LjcxOTczTDE3LjAzMDMgOC43ODAzOVoiIGZpbGw9IiNmZmZmZmYiLz4gPC9nPgoNPC9zdmc+");
    }
}
.btn {
    @extend %Open_Sans_fz14_400;
    width: 461px;
    height: 51px;
    padding-left: 29px;
    text-align: left;

    @media (max-width: 575px) {
        width: 90vw;
    }

    &_blue {
        background-image: url("../img/arrow-white.png");
        background-position: right 30px center;
        background-repeat: no-repeat;
        border: 1px solid #002d96;
        background-color: #002d96;
    }

    &_white {
        border: 1px solid black;
        background-color: white;
        background-image: url("../img/arrow-black.png");
        background-position: right 30px center;
        background-repeat: no-repeat;
    }

    &_sky {
        margin-bottom: 14px;
        margin-top: 14px;
        background-image: url("../img/arrow-white.png");
        background-position: right 30px center;
        background-repeat: no-repeat;
        border: 1px solid #ccd5ea;
        background-color: #ccd5ea;
    }
}

.offer {
    margin-top: 118px;
    background-image: url("../img/slider_background.png");
    background-position: right 50vw top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;

    height: 508px;
    @media (max-width: 1199px) {
        background-position: right 30vw top;
    }

    @media (max-width: 767px) {
        height: 66.23vw;
        background-size: cover;
    }
    @media (max-width: 575px) {
        margin-top: 50px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 0;
        min-height: 0;
        flex-wrap: wrap;
    }

    &__cars-info {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 342px;
        top: 55px;
        margin-left: 170px;
        @media (max-width: 1199px) {
            margin-left: 0;
            right: 31%;
        }
        @media (max-width: 991px) {
            width: 310px;
        }
        @media (max-width: 767px) {
            width: 40.42vw;
            top: 7.17vw;
        }
    }

    &__cars-info img:first-child {
        @media (max-width: 767px) {
            width: 21.64vw;
        }
    }
    &__cars-info img:last-child {
        @media (max-width: 767px) {
            width: 16.56vw;
        }
    }

    &__info {
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 1199px) {
            margin-top: 60px;
        }
    }

    &__title {
        @extend %Open_Sans_fz49_400;
        margin-bottom: 35px;
        @media (max-width: 575px) {
            font-size: 30px;
        }
    }

    &__benefit {
        color: white;
        @extend %Open_Sans_fz16_700;
        background-image: url("../img/black_rectangle.png");
        width: 277px;
        height: 38px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    &__benefit_large {
        font-size: 24px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: 461px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 36px;
    }

    &__text {
        color: black;
        @extend %Open_Sans_fz14_400;
        white-space: nowrap;
        margin-left: 15px;
    }

    &__text_large {
        color: #002d96;
        @extend %Open_Sans_fz20_700;
    }

    &__btn-wrap {
        display: flex;
        flex-direction: column;
    }
}

.footer {
    height: 110px;
}

.outer-swiper {
    width: 650px;
    height: 508px;
    @media (max-width: 767px) {
        width: 84.75vw;
        height: 66.23vw;
    }

    &__slide {
        display: flex;
        flex-direction: row;
    }

    &__main-img {
        padding-top: 114px;
        @media (max-width: 767px) {
            padding-top: 14.86vw;
        }
    }
    &__main-img img {
        width: 508px;
        @media (max-width: 767px) {
            width: 66.23vw;
        }
    }

    & .swiper-button-prev {
        left: 59.7px;
        top: 28px;
        @media (max-width: 767px) {
            left: 7.78vw;
            top: 3.65vw;
        }
    }
    & .swiper-button-next {
        left: 59.7px;
        top: auto;
        bottom: 28px;
        @media (max-width: 767px) {
            left: 7.78vw;
            bottom: 3.65vw;
        }
    }
    & .swiper-button-prev:after {
        color: #fff;
        opacity: 30%;

        position: absolute;
        transform: rotate(90deg) translate(50%, 0);
    }

    & .swiper-button-next:after {
        color: #fff;
        opacity: 30%;
        position: absolute;
        transform: rotate(90deg) translate(50%, 0);
        right: auto;
        left: auto;
        top: auto;
    }
    & .swiper-pagination {
        width: 180px !important;
        left: 185px !important;
        bottom: 27px !important;
        @media (max-width: 767px) {
            width: 23.47vw !important;
            left: 24.12vw !important;
            bottom: 3.52vw !important;
        }
    }
    /* Элемент точки */
    & .swiper-pagination-bullet {
        font-size: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #ff0000;
        margin: 9px !important;
        position: relative;
        opacity: 1;
        @media (max-width: 767px) {
            width: 2.35vw;
            height: 2.35vw;
            margin: 1.17vw !important;
        }
    }
    /* Активная точка */
    & .swiper-pagination-bullet-active::before {
        content: "";
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: none;
        border: 1px solid white;
        position: absolute;
        left: -3px;
        top: -3px;
        @media (max-width: 767px) {
            width: 3.13vw;
            height: 3.13vw;
            left: -0.39vw;
            top: -0.39vw;
        }
    }

    & .swiper-pagination-bullet:nth-child(2) {
        background-color: #c0c0c0;
    }
    & .swiper-pagination-bullet:nth-child(3) {
        background-color: #ffffff;
    }
    & .swiper-pagination-bullet:nth-child(4) {
        background-color: #696969;
    }
    & .swiper-pagination-bullet:nth-child(5) {
        background-color: #49b6d0;
    }
}

.inner-swiper {
    height: 386px;
    width: 142px;
    @media (max-width: 767px) {
        height: 50.33vw;
        width: 18.51vw;
    }

    &__slide img {
        border-radius: 4px;
        @media (max-width: 767px) {
            width: 18.51vw;
        }
    }
    & .swiper-button-prev {
        left: 50%;
        top: 0;
    }
}

.swiper-slide.outer-swiper__slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, 0.7);
    z-index: 10;
    display: none;

    &-active {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
}

.popup {
    &-close {
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            transform: rotate(90deg);
        }
    }

    &-click {
        position: relative;
        width: 378px;
        background: #ffffff;
        max-width: 95vw;
        margin: 0 auto;
        border: 1px solid #e6e9f0;
        box-shadow: 5px 5px 50px rgba(121, 121, 121, 0.1);
        padding: 40px 24px 24px 40px;
    }
}
.overlay .form {
    &__phone {
        width: 300px;

        border: 1px solid black;

        @media (max-width: 400px) {
            width: 70vw;
        }
    }

    &__send {
        width: 300px;

        @media (max-width: 400px) {
            width: 70vw;
            background-image: none;
        }
    }
    &__agreement {
        color: rgb(0, 0, 0);
    }
    &__link {
        color: rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        white-space: pre-wrap;
    }

    &__custom-checkbox + label::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid rgb(0, 0, 0);
        margin-right: 7px;
        background-color: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 150% 150%;
    }

    &__custom-checkbox:checked + label::before {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTcuMDMwMyA4Ljc4MDM5TDguOTk5OTMgMTYuODEwN0w1LjQ2OTYgMTMuMjgwNEw2LjUzMDI2IDEyLjIxOTdMOC45OTk5MyAxNC42ODk0TDE1Ljk2OTYgNy43MTk3M0wxNy4wMzAzIDguNzgwMzlaIiBmaWxsPSIjMDgwMzQxIi8+DQo8L3N2Zz4=");
    }
}
.wrapper {
    width: 1148px;
    margin: auto;

    @media (max-width: 1415px) {
        width: 1148px;
        margin: auto;
    }

    @media (max-width: 1199px) {
        width: 980px;
        margin: auto;
    }

    @media (max-width: 991px) {
        width: 95%;
        margin: auto;
    }

    @media (max-width: 767px) {
        width: 90%;
        margin: auto;
    }

    @media (min-width: 320px) {
        width: 90%;
        margin: auto;
    }
}
